@charset "UTF-8";
html,
body {
  margin: 0;
}

#app {
  width: 70%;
  margin: 3rem auto;
}
#app #title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}
#app #group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#app #group #counting {
  position: relative;
  width: 100%;
  background-color: gray;
  padding: 0.3rem;
  height: 1rem;
  color: white;
  overflow: hidden;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
#app #group #counting #gauge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  position: absolute;
  background-color: #2d9826;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
}
#app #group #wrapper {
  display: flex;
  gap: 1rem;
}
#app #group #wrapper div#insert-wrap {
  display: inline-block;
  position: relative;
}
@keyframes highlight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#app #group #wrapper div#insert-wrap::after {
  pointer-events: none;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-bottom: 2px solid rgba(56, 123, 231, 0.5);
}
#app #group #wrapper div#insert-wrap:focus-within::after {
  animation: highlight 300ms ease-in-out both;
  -webkit-animation: highlight 300ms ease-in-out both;
}
#app #group #wrapper div#insert-wrap:hover #clear {
  opacity: 1;
}
#app #group #wrapper div#insert-wrap:hover::after {
  border-bottom: 2px solid rgba(56, 123, 231, 0.5);
  width: 100%;
}
#app #group #wrapper div#insert-wrap input#insert {
  font-size: 1.1rem;
  width: 15rem;
  outline: none;
  padding: 0.5rem 0.3rem;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: ease-in-out 150ms;
  -webkit-transition: ease-in-out 150ms;
  -moz-transition: ease-in-out 150ms;
  -ms-transition: ease-in-out 150ms;
  -o-transition: ease-in-out 150ms;
}
#app #group #wrapper div#insert-wrap #clear {
  opacity: 0;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: ease-in-out 150ms;
  -webkit-transition: ease-in-out 150ms;
  -moz-transition: ease-in-out 150ms;
  -ms-transition: ease-in-out 150ms;
  -o-transition: ease-in-out 150ms;
}
#app #group #wrapper div#insert-wrap #clear:hover {
  cursor: pointer;
}
#app #group #wrapper #btn {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
  border: none;
  background-color: rgba(56, 123, 231, 0.7);
  color: white;
  font-size: 0.9rem;
  padding: 0.45rem 1rem;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
#app #group #wrapper #btn:hover {
  cursor: pointer;
}
#app #group #wrapper #btn:active {
  box-shadow: none;
}
#app #list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 1px solid #ccc;
  min-height: 10rem;
  padding: 2rem;
  gap: 1rem;
}
#app #list .new-item {
  height: 5rem;
  position: relative;
  border: 2px dashed #ccc;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
#app #list .new-item::before {
  content: "➕";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#app #list .new-item:hover {
  opacity: 1;
}
#app #list .new-item:active {
  border-color: rgb(37, 135, 232);
}
#app #list .insert-item {
  display: flex;
  gap: 0.5rem;
}
#app #list .insert-item input {
  border: 1px solid #ccc;
  padding: 0.5rem 0.6rem;
  outline: none;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
#app #list .insert-item input[type=text] {
  flex: 1;
}
#app #list .item {
  padding: 0.3rem;
  border-bottom: 1px dashed #ddd;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#app #list .item[data-done] {
  opacity: 0.5;
}
#app #list .item .num {
  text-transform: capitalize;
  font-weight: 700;
  user-select: none;
}
#app #list .item .num::after {
  content: ".";
}
#app #list .item .content {
  font-weight: 200;
  flex: 1;
}
#app #list .item .time-wrap {
  display: flex;
  user-select: none;
  align-items: center;
  gap: 0.3rem;
}
#app #list .item .time-wrap .create {
  font-size: 0.75rem;
}
#app #list .item .time-wrap .create::before {
  content: "✏️ ";
}
#app #list .item .time-wrap .update {
  font-size: 0.75rem;
}
#app #list .item .time-wrap .update::before {
  content: "📝 ";
}
#app #list .item .time-wrap time {
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
#app #list .btn {
  border: none;
  cursor: pointer;
  padding: 0.35rem 0.3rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: ease-in-out 150ms;
  -webkit-transition: ease-in-out 150ms;
  -moz-transition: ease-in-out 150ms;
  -ms-transition: ease-in-out 150ms;
  -o-transition: ease-in-out 150ms;
}
#app #list .btn.done {
  background-color: rgba(29, 168, 59, 0.9137254902);
}
#app #list .btn.done:hover, #app #list .btn.done:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(37, 135, 232, 0.1490196078);
}
#app #list .btn.edit {
  background-color: rgba(37, 135, 232, 0.3019607843);
}
#app #list .btn.edit:hover, #app #list .btn.edit:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(37, 135, 232, 0.1490196078);
}
#app #list .btn.del {
  background-color: rgba(232, 37, 86, 0.3019607843);
}
#app #list .btn.del:hover, #app #list .btn.del:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(232, 37, 86, 0.1490196078);
}
#app #list .btn.check {
  color: white;
  padding: 0.5rem 0.6rem !important;
  background-color: rgba(41, 93, 205, 0.8745098039);
}
#app #list .btn.check:hover, #app #list .btn.check:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(232, 37, 86, 0.1490196078);
}
#app #list .btn.cancel {
  color: white;
  padding: 0.5rem 0.6rem !important;
  background-color: rgba(232, 37, 86, 0.3019607843);
}
#app #list .btn.cancel:hover, #app #list .btn.cancel:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(232, 37, 86, 0.1490196078);
}
#app #list .btn:active {
  filter: brightness(0.75);
  -webkit-filter: brightness(0.75);
}
#app #list .btn:hover {
  box-shadow: 0 0 0 0.2rem black;
}
